container_commands:
  tune_nginx_timeouts:
    command: |
      sed -i '/^\s*location \/ {/c \\
        location / { \\
            proxy_connect_timeout       300;\\
            proxy_send_timeout          5400s;\\
            proxy_read_timeout          5400s;\\
            send_timeout                300;\\
        }' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
